[submodule "sources/en.luacomics"]
	path = sources/en.luacomics
	url = https://github.com/kunihir0/en.luacomics
[submodule "sources/en.violletscans"]
	path = sources/en.violletscans
	url = https://github.com/kunihir0/en.violetscans
[submodule "sources/en.utoon"]
	path = sources/en.utoon
	url = https://github.com/kunihir0/en.utoon
[submodule "sources/en.atsumaru"]
	path = sources/en.atsumaru
	url = https://github.com/kunihir0/en.atsumaru
